extends layout

block content
  .container
    div
    .embed-responsive.embed-responsive-16by9
      img.logo(src='/images/image.png', alt="HyperBlocks")
    p.pull-right by  Yashwant Shweta Arjun and Sourabh
